<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Story</title>
</head>
<body>
    <h1>Welcome to Madlibs App!</h1>
    <form action="/story">
        {% for prompt in prompts %}
        <label for="{{ prompt }}">{{ prompt }}:</label>
        <input type="text" id="{{ prompt }}" name="{{ prompt }}"><br>
        {% endfor %}
        <br>
        <input type="submit" value="Generate Story">
    </form>
</body>
</html>