.links {
    position: relative;
    left: 43%;
}

#prev {
    position: relative;
    left: 1%;
}

h2 {
    position: relative;
    left: 41%;
}

h5 {
    position: relative;
    left: 45%;
}

.Ex {
    position: relative;
    left: 39%;
}