.links {
    position: relative;
    left: 43%;
}

#prev {
    position: relative;
    left: 1%;
}

#poof {
    position: absolute;
    left: 41%;
    top: 100px;
}

h5 {
    position: absolute;
    left: 45%;
    top: 135px;
}

#line {
    margin: 100px;
}

.Ex {
    position: relative;
    left: 39%;
    top: 75px;
}

#cmock {
    position: absolute;
    left: 1100px;
    top: 250px;
}

#button {
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: 325px;
    left: 1145px;
    background-color: rgb(0, 204, 255);
    color: white;
    padding: 10px 20px;
    display: block;
}

#button:focus {
    outline: none;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(0, 162, 255);
}

.cat {
    width: 30%;
    position: absolute;
    top: 500px;
    left: 825px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 5px 5px 0px rgb(73, 70, 70);
    background-color: rgb(214, 213, 213);
}

#image {
    background-image: url("https://wl-brightside.cf.tsp.li/resize/728x/jpg/e54/e78/30a24451a8ba30d37a3dfa888c.jpg");
    width: 100%;
    border-radius: 10px;
    height: 500px;
    background-size: cover;
}

#kitty {
    font-size: 25px;
    font-weight: bold;
    padding: 1px;
}

#sent {
    border-top: 1px solid;
    padding: 10px;
    font-size: 15px;
}

#box {
    display: flex;
    justify-content: space-around;
}

.bx {
    width: 250px;
    height: 250px;
    background-color: peachpuff;
    position: relative;
    top: 1000px;
    border-radius: 20px;
    border: 10px solid peachpuff;
    overflow: hidden;
}

.ig {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img1 {
    background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/21/1464344117-puppy1.gif");
}

.img2 {
    background-image: url("https://i.pinimg.com/originals/14/84/68/1484683b239f8b92f60dbef530030167.gif");
}

.img3 {
    background-image: url("https://assets.teenvogue.com/photos/577ec7712ebcfaec58489b14/master/w_320%2Cc_limit/11.gif");
}

.meme {
    font-size: 3rem;
    transition: top 0.6s;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.bx:hover .meme {
    top: 0;
}