@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: slateblue;
  margin-top: 2em;
}

table {
  margin: 2em auto;
  border-collapse: collapse;
}

thead {
  background-color: slateblue;
  color: white;
}

thead td {
  padding: 1em;
  text-align: center;
}

tbody td {
  padding: 1em;
  text-align: center;
  background-color: #FFFFFF;
  cursor: pointer;
}

tbody td:hover {
  background-color: slateblue;
  color: white;
}

.loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(44, 7, 99, 0.7);
  color: white;
  padding: 1em;
  border-radius: 5px;
  z-index: 9999;
}

.loading.show {
  display: block;
}

#restart {
  display: block;
  margin: 1em auto;
  padding: 1em;
  background-color: slateblue;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 1em;
  cursor: pointer;
}
